.home{
    display: grid;
    grid-template-columns: 8% auto;
    grid-template-areas: "sidebar main";
    height: 100vh;
}

.search-bar{
    background-color: unset;
    border: 2px solid white;
    padding: 0.1em 0.25em;
    font-size: var(--font-size-normal);
    font-family: var(--font-family-normal);
    margin: 0.25em 0;
    color: #FFFFFF;
}

/*Styling of Side Bar*/
.sidebar{
    height: inherit;
    background-color: #55487A;
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.logo{
    width: fit-content;
    padding: 1em;
    background-color: #FFFFFF;
    border-radius: 50%;
    margin: 1em auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--dark-blue);
    font-family: var(--font-family-heading );

}

.log-out{
    width: 50px;
    background: none;
    margin: 1rem auto 2rem;
    border: none;
    cursor: pointer;
}

/* main section */
.main{
    height: inherit;
    grid-area: main;
    display: grid;
    grid-template-columns: 25% auto;
    grid-template-areas: "contacts-box chat-box";
    background-color: #D7D7D7;
    padding: 1em 0.5em;
    gap: 0.5em;
}

.contacts-section, .chat-section{
    border-radius: 1em;
}

/*Contacts section */
.contacts-section{
    background-color: #FFFFFF;
    grid-area: contacts-box;
    padding: 1.25em;
}

.contacts--header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000000;
    margin-bottom: 1.25em;
}

.contacts--header h1{
    font-size: var(--font-size-large);
    font-family: var(--font-family-heading);
}

.contacts--header button{
    border: none;
    cursor: pointer;
}

.contacts-list{
    list-style: none;
}

.contact{
    display: block;
    width: 100%;
    background-color: #E2E5FF;
    color: #000000;
    font-size: var(--font-normal);
    font-family: var(--font-family-normal);
    margin-top: 0.5em;
    padding: 0.75em 1em;
    border-radius: 0.75em;
    border: none;
}

.contact:hover{
    cursor: pointer;
    background-color: #6370df;
    color: #FFFFFF;
}

/* add new chat section */
.add-chat-section{
    background-color: #55487A;
    width: var(--container-medium);
    margin: auto;
    border-radius: 0.75em;
    padding: 0.75em;
}

.add-chat-section .header{
    font-family: var(--font-family-heading);
    display: flex;
    justify-content: space-between;
}

.close-popup{
    background-color: unset;
    border: none;
    font-size: var(--font-size-medium);
    cursor: pointer;
    color: var(--white-text);
    padding: 0 0.25em;
}


/*Styling of Chat Section*/
.chat-section{
    background: #FFFFFF;
    grid-area: chat-box;
    display: grid;
    height: 96vh;
    grid-template-rows: 4.5rem auto 3.5rem;
    padding: 1em 0.5em;
}

.chat-sec-header{
    width: 100%;
    justify-self: start;
    padding: 1.25em 2.50em;
    border-bottom: 3px solid #D7D7D7;
}

.chat-sec-header h1{
    font-family: var(--font-family-heading);
    font-size: var(--font-size-medium);
    color: var(--blue);
    text-shadow: 0 0 1px #323232;
    letter-spacing: 1px;
}

.chats-area{
    overflow-y: scroll;
    margin: 0.5em 0;
    display: flex;
    flex-direction: column-reverse;
}

.message-area{
    display: flex;
}

.message {
    display: flex;
    font-family: var(--font-family-normal);
    padding: 0.75em 1em;
    display: inline-block;
    font-size: var(--font-size-normal);
    background-color: #5F6493;
    color: var(--white-text);
    border-radius: 0.75em;
    margin-bottom: 0.1em;
}

.no-messages {
    display: flex;
    justify-content: center;
    font-family: var(--font-family-heading);
    font-size: var(--font-size-regular);
    font-weight: var(--font-weight-bold);
    color: #505155
}

.message-bar{
    display: flex;
    justify-content: space-between;
    margin: 0 0.75em;
    padding: 1em 0.75em;
    border: 3px solid #A9A9A9;
    border-radius: 1.25em;
}

.message-bar input{
    border: none;
    background: unset;
    font-size: var(--font-normal);
}

.send-btn{
    border:none;
    background: none;
    margin-right: 0.5rem;
    cursor: pointer;
}
