.heading{
    margin: 3em auto 1em;
    font-family: var(--font-family-heading);
    width: fit-content;
}

.container{
    width: fit-content;
    display: flex;
    flex-direction: column;
    border: 2px solid #333333;
    border-radius: 1em;
    padding: 1.5em;
    gap: 1.75em;;
    margin: auto;
}

.label, .input, .submit, .sign-option{
    font-family: var(--font-family-normal);
    font-size: var(--font-normal);
}

.input{
    margin-left: 0.75em;
    float: right;
    padding: 0.15em 0.25em;
}

.submit{
    margin: auto;
    padding: 0.25em 1.5em;
    border-radius: 0.25em;
    border: 1px solid #333333;
    cursor: pointer;
}

.sign-option{
    margin: auto;
}

.sign-option a{
    text-decoration: none;
}

.sign-option a:hover{
    text-decoration: underline;
}