.home{
    display: grid;
    grid-template-columns: 8% auto;
    grid-template-areas: "sidebar main";
    height: 100%;
}

.sidebar,
.contacts,
.chat-section{
    height: inherit;
}
/*Styling of Side Bar*/
.sidebar{
    background-color: #4682AE;
    grid-area: sidebar;
}
.logo{
    width: fit-content;
    padding: 1em;
    background-color: #FFFFFF;
    border-radius: 50%;
    margin: 1em auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--dark-blue);
    font-family: var(--font-family-heading );

}

/* main section */
.main{
    grid-area: main;
    display: grid;
    grid-template-columns: 30% auto;
    grid-template-areas: "contacts-box chat-box";
    background-color: #D7D7D7;
    padding: 1em 0.5em;
    gap: 0.5em;
}

.contacts-section, .chat-section{
    border-radius: 1em;
}

/*Contacts section */
.contacts-section{
    background-color: #FFFFFF;
    grid-area: contacts-box;
    padding: 1.25em;
}

.contacts--header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000000;
    margin-bottom: 1.25em;
}

.contacts--header h1{
    font-size: var(--font-large);
    font-family: var(--font-family-heading);
}

.contacts-list{
    list-style: none;
}

.contact{
    background-color: #B2D7F3;
    color: #000000;
    font-size: var(--font-normal);
    font-family: var(--font-family-normal);
    margin-top: 0.5em;
    padding: 0.75em;
    border-radius: 0.75em;
}

.contact:hover{
    cursor: pointer;
    background-color: var(--light-blue);
}


/*Styling of Chat Section*/
.chat-section{
    background: #FFFFFF;
    grid-area: chat-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em 0.5em;
}

.chat-sec-header{
    padding: 1.25em 2.50em;
    border-bottom: 3px solid #D7D7D7;
}

.chat-sec-header h1{
    font-family: var(--font-family-heading);
    font-size: var(--font-medium1);
    color: var(--blue);
    text-shadow: 0 0 1px #323232;
    letter-spacing: 1px;
}

.message-bar{
    margin: 0 0.75em;
    padding: 1em 0.75em;
    border: 3px solid #A9A9A9;
    border-radius: 1.25em;
}

.message-bar input{
    border: none;
    background: unset;
    font-size: var(--font-normal);
}