.auth-section,
.auth-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.auth-section{
    width: 100vw;
    height: 100vh;
    background-image: url("../../../assets/auth-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--white-text);
    gap: 1rem;
}

.heading{
    font-family: var(--font-family-heading);
    font-size: var(--font-size-normal);
}

.auth-container{
    gap: 0.5rem;
    background: rgb(205, 169, 229, 0.1);
    border-radius: 1em;
    padding: 1rem 2rem;
}

.input-box{
    background-color: var(--dark-slate-blue);
    padding: 0.75rem 1rem;
    width: 100%;
}

.label, 
.input, 
.submit, 
.option, 
.response{
    font-family: var(--font-family-normal);
    font-size: var(--font-size-regular);
}

.label, input{
    font-weight: var(--font-weight-light);
}

.input{
    background-color: unset;
    border: none;
    margin: 0 0.25rem;
    color: var(--white-text);
}

.input-box .input[type=email]{
    width: 80%;
}

.forget{
    align-self: flex-end;
}

.submit{
    width: 100%;
    background-color: var(--dark-slate-blue);
    color: var(--white-text);
    padding: 0.5em 0;
    border-radius: 0.25em;
    border: none;
    cursor: pointer;
}

.auth-container a{
    color: var(--white-text);
    font-family: var(--font-family-normal);
    text-decoration: none;
}


.auth-container a:hover{
    text-decoration: underline;
}

.response{
    height: 20px;
    text-align: center;
    background-color: #2b235d;
}

/* verify email page */
.verify-email{
    background-image: none;
    justify-content: center;
    padding-bottom: 6rem;
}

.verify-email {
    color: #666666;
}

@media (min-width:426px) {
    .heading{
        font-size: var(--font-size-medium);
    }

    .auth-container{
        gap: 1rem;
        padding: 3rem 4rem;
    }

    .input-box{
        padding: 0.5em 0.em;
    }

    .label, 
    .input, 
    .submit, 
    .option, 
    .response{
        font-size: var(--font-size-regular);
    }

    .input{
        margin: 0 0.5rem;
    }
}

@media (min-width: 769px) {
    .heading{
        font-size: var(--font-size-large);
    }

    .auth-container{
        gap: 1rem;
        padding: 3rem 5rem;
    }

    .input-box{
        padding: 0.75em 0.55em;
    }

    .label, 
    .input, 
    .submit, 
    .option, 
    .response{
        font-size: var(--font-size-normal);
    }

    .input{
        margin: 0 0.5rem;
    }
}